
# ==============================================================
#            GitHub WILL Ignore These File Names:
# ==============================================================



# ==============================================================
#         GitHub WILL Ignore These File Extensions:
# ==============================================================

None
*.html
*.htaccess
*.xml
*.tsb*
*.zip
*.pyc
*.mp4
*.psd
*.log
*.db
*.db-journal
*.sqlite3
*.code-workspace

# ==============================================================
#       GitHub WILL Ignore These Folder Directories:
# ==============================================================

/.venv/
/.vscode/